.header-container {
    width: 100%;
    height: 500px;
    background-color: #1F2937;
    display: flex;
}

.header-item1 {
    width: 100%;
    height: 100px;
    background-color: #1F2937;
    display:flex;
}

.header-logo {
    padding-left: 10%;
    height: 24px;
    color: #F9FAF8;
}